<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265402560730-h6ov27pa6ktigq2mh5lqlc7obunfabbr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265402560730-h6ov27pa6ktigq2mh5lqlc7obunfabbr</string>
	<key>API_KEY</key>
	<string>AIzaSyC7CZQ_SzpRU3AuKfuIbP_h5PXHt2CK7t8</string>
	<key>GCM_SENDER_ID</key>
	<string>265402560730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>myapplication-58950</string>
	<key>STORAGE_BUCKET</key>
	<string>myapplication-58950.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265402560730:ios:3dcc21d1fc314a406f35e3</string>
</dict>
</plist>